<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <sectionGroup name="api">
      <section name="v2" type="System.Configuration.DictionarySectionHandler"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <log4net>
    <root>
      <level value="ALL"/>
      <appender-ref ref="FullRollingFile"/>
    </root>
    <logger additive="false" name="RollingFile">
	    <level value="ALL"/>
	    <appender-ref ref="RollingFile"/>
    </logger>
    <appender name="FullRollingFile" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString">
        <converter>
          <name value="folder"/>
          <type value="Bgp.SpecialFolderPatternConverter,Box Edit"/>
        </converter>
        <conversionPattern value="%folder{}\Box\Box Edit\Logs\Verbose_BoxEdit_%date{yyyy-MM-dd}.log"/>
      </file>
      <encoding type="System.Text.UTF8Encoding"/>
      <appendToFile value="true"/>
      <rollingStyle value="Composite"/>
      <preserveLogFileNameExtension value="true"/>
      <datePattern value="yyyyMMdd"/>
      <maximumFileSize value="5MB"/>
      <maxSizeRollBackups value="5"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="[%d] [%-5t] [%-5p] [%x] - %m%n"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="DEBUG"/>
        <param name="LevelMax" value="FATAL"/>
      </filter>
    </appender>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString">
        <converter>
          <name value="folder"/>
          <type value="Bgp.SpecialFolderPatternConverter,Box Edit"/>
        </converter>
        <conversionPattern value="%folder{}\Box\Box Edit\Logs\BoxEdit_%date{yyyy-MM-dd}.log"/>
      </file>
      <encoding type="System.Text.UTF8Encoding"/>
      <appendToFile value="true"/>
      <rollingStyle value="Composite"/>
      <preserveLogFileNameExtension value="true"/>
      <datePattern value="yyyyMMdd"/>
      <maximumFileSize value="5MB"/>
      <maxSizeRollBackups value="5"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="[%d] [%-5t] [%-5p] [%x] - %m%n"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="DEBUG"/>
        <param name="LevelMax" value="FATAL"/>
      </filter>
    </appender>
  </log4net>
  <api>
    <v2>
      <add key="authenticationBaseUrl" value="https://api.box.com"/>
      <add key="contentBaseUrl" value="https://api.box.com/2.0"/>
      <add key="uploadBaseUrl" value="https://upload.box.com/api/2.0"/>
    </v2>
  </api>
</configuration>
